body {
  background-image: url("images/background.jpg");
  width: 100%;
  height: auto;
}
h1 {
  color: green;
  font-size: 500%;
  font-style: normal;
}
div.a {
  color: black;
  font-size: 200%;
  font-style: normal;
  text-align: right;
}
#ClockContainer{
  position: relative;
  margin: auto;
  height: 50vw;
  width: 50vw;
  background: url(images/clock.png) no-repeat;
  background-size: 100%;
}

#hour{
  position: absolute;
  background: red;
  border-radius: 10px;
  transform-origin: bottom;
  width: 1%;
  height: 10%;
  top: 46.5%;
  left: 48.6%;
  opacity: 0.8;

}
#minute{
  position: absolute;
  background: blue;
  border-radius: 10px;
  transform-origin: bottom;
  width: 0.5%;
  height: 14%;
  top: 42.4%;
  left: 48.83%;
  opacity: 0.8;
}
#second{
  position: absolute;
  background: green;
  border-radius: 10px;
  transform-origin: bottom;
  width: 0.5%;
  height: 19%;
  top: 37.42%;
  left: 49%;
  opacity: 0.8;
}
